<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iiitdmk.gdsc.hackathon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:configChanges="keyboardHidden|screenSize"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/logo_hostelconnect"
        android:label="hostelConnect"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="replace"
        tools:replace="allowBackup"
        >
        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Account.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Account.IntroScreen"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.TestActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Account.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Account.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan">


        </activity>
        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Account.ForgotPassword"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TitleBar"

            />

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Council.CouncilActivity"
            android:exported="false"
            android:label="Council"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TitleBar" />

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TitleBar"

            />

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Mess.MessActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TitleBar">

        </activity>


        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Complaints.ComplaintsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar.TitleBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.HomeActivity" />
        </activity>


        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Complaints.ComplainRegister"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.Complaints.ComplaintsActivity" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Complaints.ComplainStatus"
            android:exported="false"
            android:screenOrientation="portrait"

            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.Complaints.ComplaintsActivity" />
        </activity>
        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Complaints.StatusDetails"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.Complaints.ComplaintsActivity" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Council.CouncilWarden"
            android:exported="false"
            android:label="Council"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.Council.CouncilActivity" />
        </activity>
        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Council.CouncilGenSecy"
            android:exported="false"
            android:label="Council"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.Council.CouncilActivity" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Council.CouncilSportsSecy"
            android:exported="false"
            android:label="Council">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.Council.CouncilActivity" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Council.CouncilCulturalSecy"
            android:exported="false"
            android:label="Council">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.Council.CouncilActivity" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Council.CouncilFHostelSecy"
            android:exported="false"
            android:label="Council"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.Council.CouncilActivity" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Council.CouncilFHosMainSecy"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.Council.CouncilActivity" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Council.CouncilFMessSecy"
            android:exported="false"
            android:label="Council"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.Council.CouncilActivity" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Council.CouncilEmergency"
            android:exported="false"
            android:label="Council"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.Council.CouncilActivity" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Council.CouncilFSportsSecy"
            android:exported="false"
            android:label="Council"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.Council.CouncilActivity" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.User.UpdatePassword"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.User.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.HomeActivity" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.User.EditInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.User.ProfileActivity" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Resources.ResourceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.HomeActivity" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Resources.CS.CSResourceDocs"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.Resources.CS.CSBranch" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Resources.CS.CSBranch"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.Resources.ResourceActivity" />
        </activity>

        <activity android:name="com.iiitdmk.gdsc.hackathon.Resources.EE.EEBranch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.Resources.ResourceActivity" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Resources.EE.EEResourceDocs"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.Resources.EE.EEBranch" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Resources.ME.MEBranch"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.Resources.ResourceActivity" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Resources.ME.MEResourceDocs"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.Resources.ME.MEBranch" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Resources.Common.CommonBranch"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.Resources.ResourceActivity" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Resources.Common.CommonResourceDocs"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.Resources.Common.CommonBranch" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Feedback.Feedback"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.HomeActivity" />
        </activity>

        <activity
            android:name="com.iiitdmk.gdsc.hackathon.Settings.SettingsActivity"
            android:exported="false"
            android:theme="@style/SettingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iiitdmk.gdsc.hackathon.HomeActivity" />
        </activity>

        <receiver
            android:name="com.iiitdmk.gdsc.hackathon.Mess.messnotification.AlarmBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.iiitdmk.gdsc.hackathon.Mess.messnotification.BreakfastAlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />

        <receiver
            android:name="com.iiitdmk.gdsc.hackathon.Mess.messnotification.LunchAlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />

        <receiver
            android:name="com.iiitdmk.gdsc.hackathon.Mess.messnotification.TiffinAlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />

        <receiver
            android:name="com.iiitdmk.gdsc.hackathon.Mess.messnotification.DinnerAlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />

        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <service android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.firestore.FirestoreRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.storage.StorageRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>

</manifest>